{% extends "base.html" %}

{% block main %}
  <!-- Main Container -->
  <main class="wrapper">
    <section class="description-block">
      <article class="schedule">
        <h1 class="heading">
          Thursday 25th 
        </h1>
        <table>
          <thead>
            <tr>
              <th>Hour</th>
              <th>Talk<br />Track 1 (LT 3)</th>
              <th>Talk<br />Track 2 (LT 4)</th>
              <th>Workshop 1<br />Inc. Rm A</th>
              <th>Workshop 2<br />Inc. Rm B</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="time">8:00 - 10:00 AM</td>
              <td colspan="4">Registration (Auditorium)</td>
            </tr>
            <tr>
              <td class="time">10:00 - 10:30 AM</td>
              <td colspan="4">Welcome Note</td>
            </tr>
            <tr>
              <td class="time">10:30 - 11:00 AM</td>
              <td colspan="4">Break + Meet & Greet</td>
            </tr>
            <tr>
              <td class="time">11:00 - 12:00 PM</td>
              <td>
                <div class="title">YouTube data visualization</div>
                <div class="presenter">Mainye Benson Nyabuti</div>
              </td>
              <td>
                <div class="title">Rust for Pythonistas</div>
                <div class="presenter">Matt Gathu<span class="organisation">JUMO</span></div>
              </td>
              <td>
                <div class="title">IoT WIth MicroPython</div>
                <div class="presenter">Bob Afuata<span class="organisation">BRCK</span></div>
              </td>
              <td>
                <div class="title">IVR and USSD development</div>
                <div class="presenter">Francis Mwangi<span class="organisation">JUMO</span></div>
              </td>
            </tr>
            <tr>
              <td class="time">12:00 - 1:00 PM</td>
              <td>
                <div class="title">Scrapping with Python</div>
                <div class="presenter">Kelvin Jayanoris<span class="organisation">ONA</span></div>
              </td>
              <td>
                <div class="title">Python Distribution Optimized for Intel</div>
                <div class="presenter">Roy Allela<span class="organisation">Intel</span></div>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="time">1:00 - 2:00 PM</td>
              <td class="break" colspan="4">lunch</td>
            </tr>
            <tr>
              <td class="time">2:00 - 3:00 PM</td>
              <td>
                <div class="title">YouTube data visualization</div>
                <div class="presenter">Mainye Benson Nyabuti</div>
              </td>
              <td>
                <div class="title">Rust for Pythonistas</div>
                <div class="presenter">Matt Gathu<span class="organisation">JUMO</span></div>
              </td>
              <td>
                <div class="title">IoT WIth MicroPython</div>
                <div class="presenter">Bob Afuata<span class="organisation">BRCK</span></div>
              </td>
              <td>
                <div class="title">IVR and USSD development</div>
                <div class="presenter">Francis Mwangi<span class="organisation">JUMO</span></div>
              </td>
            </tr>
          </tbody>
        </table>
      </article>
    </section>
  </main>
  <!-- /Main Container -->
{% endblock main %}